.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   border: 2px solid red;
}

.googlePlayBooksLogoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  //   border: 2px solid blue;
}

.googlePlayBooksLogo {
  height: 15%;
  width: 30%;
  padding: 2%;
}

.searchBar {
  width: 100%;
  border: 1px solid #2b60a1;
  border: 1px solid #2b60a1;
  border-radius: 25px;
}

.searchBar::placeholder {
  // padding-left: 15px;
  text-align: center;
}

.searchBarAndButtonContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  //   border: 2px solid green;
}

.searchButton {
  height: 5%;
  width: 10%;
  background-color: #2b60a1;
  border: 2px solid #2b60a1;
  border-radius: 25px;
  color: white;
}

// .searchResults {
//     border: 2px solid teal;
// }

.searchBar {
  text-align: center;
}

.bookCard {
  height: 300px;
  width: 200px;
}
